@{
    ViewData["Title"] = "Personels";
}

@model Index_VM

@if (Model.personels.Count <= 0)
{
    <span class="text-info">Gösterilecek veri bulunmamaktadır.</span>
}
else
{

    <div id="addArea">
        <form asp-action="Add">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="personel.Name"></label>
                    <input type="text" asp-for="personel.Name" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.Name" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.SurName"></label>
                    <input type="text" asp-for="personel.SurName" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.SurName"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.Phone"></label>
                    <input type="text" value="0" asp-for="personel.Phone" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.Phone" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.TCNo"></label>
                    <input type="text" asp-for="personel.TCNo" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.TCNo"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.CompanyName"></label>
                    <input type="text" asp-for="personel.CompanyName" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.CompanyName"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.ContactType"></label>
                    <select type="text" asp-for="personel.ContactType" asp-items="Model.ContactTypes" class="form-control"></select>
                    <span class="text-danger" asp-validation-for="personel.ContactType"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.EMail"></label>
                    <input type="email" asp-for="personel.EMail" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.EMail"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.Address"></label>
                    <input type="text" asp-for="personel.Address" class="form-control" placeholder="1234 Sk.">
                    <span class="text-danger" asp-validation-for="personel.Address"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.Country"></label>
                    <select type="text" asp-for="personel.Country" asp-items="Model.Countries" class="form-control"></select>
                    <span class="text-danger" asp-validation-for="personel.Country"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.City"></label>
                    <input type="text" asp-for="personel.City" class="form-control" placeholder="İstanbul">
                    <span class="text-danger" asp-validation-for="personel.City"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.District"></label>
                    <input type="text" asp-for="personel.District" class="form-control" placeholder="Bağcılar">
                    <span class="text-danger" asp-validation-for="personel.District"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="personel.PostCode"></label>
                    <input type="text" asp-for="personel.PostCode" class="form-control">
                    <span class="text-danger" asp-validation-for="personel.PostCode"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Ekle</button>
                </div>
            </div>
        </form>
        <br />
    </div>

    <div class="row" id="filterArea">
        <div class="col-6">
            <select class="form-control" onchange="loadbyAjax()" id="contactType" asp-items="@Model.ContactTypes">
                <option value="">İletişim Türü Seçiniz..</option>

            </select>
        </div>
        <div class="col-6">
            <select class="form-control" onchange="loadbyAjax()" id="country" asp-items="@Model.Countries">
                <option value="">Ülke Seçiniz..</option>
            </select>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>TC No</th>
                <th>Şirket Adı</th>
                <th>İletişim Tipi</th>
                <th>Ülke</th>
                <th>Şehir</th>
                <th>İlçe</th>
                <th>Adres</th>
                <th>Posta Kodu</th>
                <th>E-mail</th>
                <th>Cep Telefonu</th>
                <th>
                <a class="btn btn-outline-success" href="#" id="toggleAddArea">Ekle</a>
                <a class="btn btn-outline-info" asp-action="OnPostExport">İndir<small>(.xlsx)</small></a>
                </th>
            </tr>
        </thead>
        <tbody id="listPersonel">
        @* Loads personels via ajax*@
        </tbody>
    </table>
}

@section Scripts{
    <script>
        // Toggle Add Area
        var button = $("#toggleAddArea");
        var area = $("#addArea");

        button.click(function () {
            area.slideToggle();
        });

         // Area Down On Start
        area.slideUp(1);


        //Filter By Ajax
        var loadbyAjax = function () {

            var listPersonel = $("#listPersonel");
            var contactType = $("#contactType option:selected").val();
            var country = $("#country option:selected").val();

            $.ajax({
                method: "POST",
                url: "@Url.Action("LoadPersonelsByFilter")",
                data: { "ContactType": contactType, "CountryName": country },
                success: function(data) {
                    listPersonel.html(data);
                }
            })
        }
        loadbyAjax();
    </script>
}

